<div class="hero-unit">
<h1>查询关键词排名与统计</h1>
<p>旨在帮助SEO工作人员快速查询某个网站下各关键词在Google、百度等搜索引擎前一百名的排名，最后按月或年汇总统计各关键词排名。
</p>
<p><%=link_to '开始 »',new_site_path,:class=>"btn btn-primary btn-large"%></p>
</div>

<dl class="dl-horizontal">
	<% @sites.each do |site| %>
		<dt>
			<%=link_to site.name,site %>
		</dt>
		<dd>
			<%=site.keywords.split.join(' ') %>
		</dd>
	<%end%>
</dl>
