%p
  你好 #{@resource.email}!
%p 你想更改你的密码的话，请点击以下链接.
%p= link_to '修改密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p 如果不是你想改密码，不用理会这个邮件.
%p 你的密码不会改变的，除非你点击以上链接去更改.
